.navbar {
    background-color: rgba(255, 255, 255, 0.15);
    color: #ffffff; 
    backdrop-filter: blur(12px); 
    border-radius: 8px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
    position: sticky;
    top: 0;
    width: 100%; 
    z-index: 1000;
}

.navbar .container {
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo img {
    width: 2rem; 
    height: 2rem; 
    border-radius: 50%;
}

.navbar .logo span {
    font-size: 1.25rem; 
    font-weight: bold;
    color: #6D4C41;
    font-family: 'Dancing Script', cursive;
}

.navbar .nav-links {
    display: flex;
    gap: 1rem;
}

.navbar .nav-links a {
    color: #3B3B3B;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: rgba(255, 255, 255, 0.3);
}

.navbar .nav-links a:hover {
    color: #F9A8D4;
    background-color: rgba(255, 255, 255, 0.5); 
}

.navbar .profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.navbar .profile svg {
    width: 1.5rem;
    height: 1.5rem;
    color: #6D4C41;
}

.navbar .profile span {
    font-size: 1rem;
    font-weight: 600;
    color: #FECACA; 
}

@keyframes rainbow-text {
    0% { color: #edc9d4}
    16% { color: #ffd3c9 }
    32% { color: #fff7cf }
    48% { color: #e4f0c9 }
    64% { color: #c7e0ff }
    80% { color: #cfcfff }
    100% { color: #bac3ff }
  }
  
  .rainbow-text {
    animation: rainbow-text 10s infinite; 
  }
  
  .emocionesText{
    color: #b0fdeb;
  }

  @keyframes shaking {
    10% { transform: scale(1.05) rotate(5deg);}
    20% { transform: scale(1.05) rotate(-5deg); }
    30% { transform: scale(1.05) rotate(5deg); }
    40% { transform: none; }
  }

.navbarButton{
    color: #3B3B3B; 
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem 1rem; 
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: rgba(255, 255, 255, 0.3);
    animation: shaking 2s infinite;
}

.custom-max-width {
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .custom-max-widthText {
    max-width: 88rem;
    margin-left: auto;
    margin-right: auto;
  }

  .comofuncionaText{
    color:#6D4C41;
  }

  .numberColor{
    color: #6D4C41;
  }

  .card{
    background-color: #fedbe1;
    color:#6D4C41;
    transition: background-color 0.3s, color 0.3s, border-radius 0.3s; 
  }

  .card:hover{
    color: white;
    transition: background-color 0.3s, color 0.3s, border-radius 0.3s; 
    background-color: #9bb7cd;
  }

  .links{
    color:#6D4C41;
  }

.font-bold.navbar {
    font-size: 52px;
}
